body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: rgb(0,0,0); /* for IE8 */
	background-color: rgba(0,0,0,1.0);
}
.mx-mapcontainer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 804px;
	height: 644px;
	background-color: none;
	border-radius: 7px;
	z-index: 2;
}
.mx-mapbox {
	background-color: #ffffff;
	height: 600px;
	padding: 0px;
	border-width: 2px;
	border-style: solid;
	border-color: #cccccc;
	border-radius: 7px;
}
.mx-mapcanvas {
	width: 800px;
	height: 600px;
	box-shadow: 0px 0px 0px rgba(51, 51, 51, 0.4);
	border-radius: 7px;
}
.mx-buttonbox {
	background-color: #ffffff;
	border-width: 0px;
	border-style: solid;
	border-color: #cccccc;
	border-radius: 7px;
	margin-top: 5px;
	padding: 5px 0px;
	text-align: center;
}
.mx-buttontext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	padding: 0px 5px 0px;
	cursor: pointer;
	vertical-align: middle;
	text-shadow: none;
}

